<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600">
    <link rel="icon" href="{{ url_for('static', filename='scorpio.png') }}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="scorpio">
            <a href="/">
                <img class="logo" src="https://i.ibb.co/2htwL5V/scorpio-zodiac-sign-507316-19.jpg" alt="Scorpio" border="0">
            </a>
            <h1>Scorpio</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/history">History</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-btn">Projects</a>
                <ul class="dropdown-content">
                    <li><a href="https://harinivas-28.github.io/AIML-Chatbot/">AIML Chatbot</a></li>
                    <li><a href="https://text2sql-v3.onrender.com">Text-2-SQL-v3</a></li>
                    <li><a href="https://github.com/harinivas-28/count-app">Object Detection and Counting</a></li>
                    <li><a href="https://harinivas-28.github.io/SignIn-SignUp-Page/">Login Page</a></li>
                </ul>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="https://harinivas-28.github.io/my-complete-portfolio/">Portfolio</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <div class="container">
        <div class="left-side">
            <img src="https://i.ibb.co/JctccXJ/MoulaAli.jpg" alt="Me" border="0">
        </div>
        <div class="right-side">
            <h1>Harinivas G</h1>
            <div id="dynamic-description">
                I'm a 
            </div>
            <div class="social-icons">
                <a href="https://github.com/harinivas-28" target="_blank" aria-label="GitHub">
                    <img src="https://img.icons8.com/ios-filled/55/github.png" alt="GitHub"/>
                </a>
                <a href="https://www.linkedin.com/in/harinivas-ganjarla-728685274/" target="_blank" aria-label="LinkedIn">
                    <img src="https://img.icons8.com/color/55/linkedin.png" alt="LinkedIn"/>
                </a>
                <a href="https://www.instagram.com/i.harinivas?igsh=cmlucmxvZTIzZ2Iw" target="_blank" aria-label="Instagram">
                    <img src="https://img.icons8.com/fluency/55/instagram-new.png" alt="Instagram"/>
                </a>
                <a href="https://x.com/i/flow/login?redirect_after_login=%2FHarinivasg28704" target="_blank" aria-label="Twitter">
                    <img src="https://img.icons8.com/color/55/twitter--v1.png" alt="Twitter"/>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <p>© 2024 Harinivas G</p>
    </footer>

    <script>
        const descriptions = ['Full stack developer', 'Student', 'Backend developer', 'Generative AI explorer', 'Hungry learner'];
        const dynamicDescription = document.getElementById('dynamic-description');
        let currentDescriptionIndex = 0;

        function typeWriter(text) {
            let i = 0;
            const speed = 100;
            dynamicDescription.textContent = "I'm a ";
            const interval = setInterval(() => {
                if (i < text.length) {
                    dynamicDescription.textContent += text.charAt(i);
                    i++;
                } else {
                    clearInterval(interval);
                    setTimeout(updateDescription, 2000);
                }
            }, speed);
        }

        function updateDescription() {
            currentDescriptionIndex = (currentDescriptionIndex + 1) % descriptions.length;
            typeWriter(descriptions[currentDescriptionIndex]);
        }

        typeWriter(descriptions[0]);
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>