<!DOCTYPE html>
<html>
<head>
    <title>Scorpio Chat History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="static/scorpio.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="scorpio">
                <a href="/"><img class="logo" src="https://i.ibb.co/2htwL5V/scorpio-zodiac-sign-507316-19.jpg" alt="scorpio-zodiac-sign-507316-19" border="0"></a>
                <h1 style="margin: 10px;">Scorpio</h1></div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/history">History</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-btn">Projects</a>
                    <ul class="dropdown-content">
                        <li><a href="https://harinivas-28.github.io/SignIn-SignUp-Page/">Login Page</a></li>
                        <li><a href="https://github.com/harinivas-28/Text-2-SQL-v2">Text-2-SQL</a></li>
                        <li><a href="/portfolio">Coming Soon...</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        </header>

    <div class="chat-container">
        <div class="chat-header">
            <h1>Chat History</h1>
            <button id="clear-history-button">Clear History</button> 
        </div>
        <div class="chat-messages">
            {% for item in history %}
                <div class="chat-message user">
                    <p>{{ item.question }}</p>
                </div>
                <div class="chat-message chatbot">
                    {{ item.answer|safe }}  </p> <!--- Render the safe HTML response -->
                </div>
            {% endfor %}
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>